.card_element {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  background: linear-gradient(-70deg,  rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(35px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 30px 30px 30px 30px;
  overflow: hidden;
  box-sizing: content-box;
  position: relative;
}

.card_element *{
    box-sizing: content-box;
}

.card_element > .logo {
  padding-bottom: 40px;
  opacity: 0.9;
  display: flex; 
  justify-content: space-between;
}

.card_element > input[id="card-number"] {
  font-size: 25px;
  font-family: "Space Mono", monospace;
  width: 100%;
  height: 50px;
}

.card_element > input[id="card-name"] {
    color: white;
    margin-bottom: -2px;
    font-size: 16px;
    height: 26px;
    width: 160px;
  }

  .card_element > input[id="card-number"]::placeholder {
  color: #b5b5b5;
  font-size: 30px;
  font-family: "Space Mono", monospace;
}

.card_element > input::placeholder {
  color: #b5b5b5;
  font-family: "Space Mono", monospace;
}

.card_element > .group {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.card_element > .card-number {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 30px;
  width: 100%;
}

.card_element > .underline {
  transition: all 0.3s;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.card_element > .card-name {
  font-family: "Space Mono", monospace;
  padding: 0px 80px 0px 0px;
  width: 100px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.card_element > .expiration-date {
  font-family: "Space Mono", monospace;
  padding: 0px 0px 0px 0px;
  width: 120px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.card_element > .ccv {
  font-family: "Space Mono", monospace;
  padding: 0px 0px 0px 0px;
  width: 120px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.card_element > input {
  border: none;
  font-size: 16px !important;
  height: 26px;
  color: #ffffff !important;
  background: 0;
  padding: 0;
}

.card_element > label {
  color: white;
  font-size: 12px;
  font-weight: normal;
  font-family: "Space Mono", monospace;
  pointer-events: none;
  display: block;
  padding-bottom: 2px;
}
