input {
    color: white !important;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical {
    text-align: center;
}

.metallic-text {
    font-size: 4em;
    font-weight: bold;
    background: linear-gradient(90deg, 
        #338EF7 20%, 
        #ffffff 25%, 
        #338EF7 30%, 
        #338EF7 50%, 
        #ffffff 55%, 
        #338EF7 60%, 
        #338EF7 80%, 
        #ffffff 85%, 
        #338EF7 90%);
    background-size: 200% 100%;
    color: #338EF7;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: metallicGradient 20s linear infinite;
}

@keyframes metallicGradient {
    0% {
        background-position: 200% 0%;
    }
    100% {
        background-position: -200% 0%;
    }
}

.metallic-button {
    font-size: 14px;
    padding: 6px 16px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #000;
    background: linear-gradient(
        45deg,
        #999 5%,
        #fff 10%,
        #ccc 30%,
        #ddd 50%,
        #ccc 70%,
        #fff 80%,
        #999 95%
    );
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.cool {
    background: linear-gradient(-70deg,  rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(35px);
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
}