<head>
    <link rel="stylesheet" href="main.css"></link>
    {tailwind}
    {daisyui}
    <meta id="Viewport" name="viewport" content="initial-scale=0.65, maximum-scale=0.65, minimum-scale=0.65, user-scalable=yes"></meta>
    <script src="main.js"></script>
</head>

<script>
    var auth=Signal("auth", "login")
    var passwordVisible=Signal("passwordVisible", "password")
    function FlipAuth() {
        if (auth.Value()=="login") {
            auth.setValue("register")
        } else {
            auth.setValue("login")
        }
    }
    function Submit(e) {
        e.preventDefault()
        fetch("/auth?username="+encodeURIComponent(document.getElementById("username").value)+"&password="+encodeURIComponent(document.getElementById("password").value)+"&method="+auth.Value()).then(async (x)=>{
            var json=await x.json()
            if (json.error=="") {
                document.cookie="username="+document.getElementById("username").value+";"
                document.cookie="password="+document.getElementById("password").value+";"
                window.location=window.location.href
            } else {
                alert(json.error)
            }
        })
    }
    function Checkbox(e) {
        if (e.target.checked) {
            passwordVisible.setValue("text")
        } else {
            passwordVisible.setValue("password")
        }
    }
</script>

<body>
    <div class="wrapper" style="height: 100vh; width: 100vw;">
        <div class="hero bg-base-200 min-h-screen">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <div class="card bg-base-100 w-full shrink-0 shadow-2xl">
                    <form class="card-body" onsubmit="Submit(event)">
                        <h1 class="vertical text-4xl font-bold whitespace-nowrap">
                            <if "auth.Value()=='login'" dep:auth>
                                Login
                            </if>
                            <if "auth.Value()!='login'" dep:auth>
                                Register
                            </if>
                        </h1>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Username</span>
                            </label>
                            <input placeholder="username" class="input input-bordered" required style="width: 500px;" id="username"></input>
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Password</span>
                            </label>
                            <input type="{passwordVisible}" placeholder="password" class="input input-bordered" style="margin-bottom: 20px;" required id="password"></input>
                            <div class="form-control">
                                <div style="width: 100%;">
                                    <div class="wrapper" style="width: fit-content;">
                                        <label style="margin-right: 10px;">Show Password</label>
                                        <input type="checkbox" oninput="Checkbox(event)" class="checkbox checkbox-primary checkbox-sm"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-control mt-6" style="margin-bottom: 10px;">
                            <button class="btn btn-primary">
                                <if "auth.Value()=='login'" dep:auth>
                                    Login
                                </if>
                                <if "auth.Value()!='login'" dep:auth>
                                    Register
                                </if>
                            </button>
                        </div>
                        <label>
                            <a onclick="FlipAuth()">
                                <if "auth.Value()!='login'" dep:auth>
                                    <label style="cursor: pointer;">Login Instead?</label>
                                </if>
                                <if "auth.Value()=='login'" dep:auth>
                                    <label style="cursor: pointer;">Register Instead?</label>
                                </if>
                            </a>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>