<div class="card-container">

    <div id="card-top-container">
        <img src="logo.svg" style="height: 48px;"></img>
        <p style="font-size: 25px;">500 LTZ</p>
    </div>

    <div id="card-middle-container">
        <p class="labels">Team Address</p>
        <p id="card-address">c490b5dd4b</p>
    </div>

    <div id="card-bottom-container">
        <div id="card-team-name-container">
            <p class="labels">Team Name</p>
            <p class="card-bottom-text">Organizers</p>
        </div>
        <div class="card-member-container">
            <p class="labels">Member 1</p>
            <p class="card-bottom-text">Aryamaan</p>
        </div>
        <div class="card-member-container">
            <p class="labels">Member 2</p>
            <p class="card-bottom-text">Aarav</p>
        </div>
    </div>
</div>