<div class="card">

    <div class="logo">
        <img src="logo.svg" style="height: 48px;"></img>
        <p style="font-size: 25px;">500 LTZ</p>
    </div>
    <div class="card-number">
        <label>Team Address</label>
        <input id="card-number" placeholder="c490b5dd4b" type="text"
            disabled="true"></input>
    </div>

    <div class="group">
        <div class="card-name">
            <label>Team Name</label>
            <input id="card-name" placeholder="Organizers" type="text" disabled="true"></input>
        </div>
        <div class="expiration-date">
            <label>Member 1</label>
            <input id="card-exp" placeholder="Aryamaan" type="text" maxlength="5" disabled="true"></input>
        </div>
        <div class="ccv">
            <label>Member 2</label>
            <input id="card-ccv" placeholder="Aarav" type="text" maxlength="3" disabled="true"></input>
        </div>
    </div>
</div>