<head>
    <link rel="stylesheet" href="main.css"></link>
    {tailwind}
    {daisyui}
    <meta id="Viewport" name="viewport" content="initial-scale=0.8, maximum-scale=0.8, minimum-scale=0.8, user-scalable=yes"></meta>
</head>

<script>
    function getCookies() {
        var cookies=document.cookie.split(";");
        var cookiesDict={}
        for (var i in cookies) {
            var splitted_Cookie=cookies[i].split("=")
    cookiesDict[splitted_Cookie[0].trim()]=splitted_Cookie[1]
        }
        return cookiesDict
    }
    var username=getCookies()["username"]
    var isDesktop=Signal("isDesktop", window.innerHeight<window.innerWidth)
</script>

<body>
    {navbar}
    <div style="margin-top: 50px;"></div>
    <if isDesktop>
        <script>
            document.currentScript.parentElement.setAttribute("style", "padding: 20px;")
        </script>
    </if>
    <div class="wrapper">
        <div class="wrapper" style="padding: 20px;">
            <script>
                if (isDesktop.Value()) {
                    document.currentScript.parentElement.setAttribute("style", "border: 2.5px solid rgba(255, 255, 255, 0.15); padding: 70px; border-radius: 20px;")
                }
            </script>
            <div>
                <div class="badge badge-neutral">4th August 2024</div>
                <br></br>
                <span class="text-5xl font-bold metallic-text" style="color: #338EF7;">Aarav's Birthday</span>
                <br></br>
                <span class="text-4xl font-semibold text-white">An experience you will not forget!</span>
                <br></br>
                <span class="text-1xl text-white">&#x2022; 4 subevents</span>
                <span class="text-1xl text-white">&#x2022; LTZ Airdrop</span>
                <span class="text-1xl text-white">&#x2022; Real Wins</span>
                <span class="text-1xl text-white">&#x2022; Competitive</span>
                <br></br>
                <div class="wrapper" style="width: fit-content;">
                    <button class="btn btn-outline" style="width: 140px;">Learn More</button>
                    <div style="margin-left: 20px;"></div>
                    <button type="button" class="text-white btn focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center" style="background-color: #006FEE; width: 140px;">Open TradeX</button>
                </div>
            </div>
            <if isDesktop>
                <div style="margin-left: 220px;">
                    <img src="logo.svg" style="height: 250px;"></img>
                </div>
            </if>
        </div>
    </div>
    <div class="wrapper">
        <span class="text-5xl font-bold" style="color: white; margin: 40px; margin-bottom: 40px;">Timeline</span>
    </div>
    <div>
        <ul class="timeline timeline-vertical">
            <li>
                <div class="timeline-start timeline-box" style="border: 2.5px solid rgba(255, 255, 255, 0.15);">
                    <span style="color: #45D483;">Register Account</span>
                </div>
                <div class="timeline-middle">
                    <svg fill="#45D483" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path></svg>
                </div>
                <hr></hr>
            </li>
            <li>
                <hr></hr>
                <div class="timeline-middle">
                    <svg fill="white" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path></svg>
                </div>
                <div class="timeline-end timeline-box" style="border: 2.5px solid rgba(255, 255, 255, 0.15);">
                    <span style="color: white;">Create or Join Team</span>
                </div>
            </li>
            <li>
                <div class="timeline-start timeline-box" style="border: 2.5px solid rgba(255, 255, 255, 0.15);">
                    <span style="color: white;">Participate in Event 1</span>
                </div>
                <div class="timeline-middle">
                    <svg fill="white" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path></svg>
                </div>
                <hr></hr>
            </li>
            <li>
                <hr></hr>
                <div class="timeline-middle">
                    <svg fill="white" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path></svg>
                </div>
                <div class="timeline-end timeline-box" style="border: 2.5px solid rgba(255, 255, 255, 0.15);">
                    <span style="color: white;">Participate in Event 2</span>
                </div>
            </li>
            <li>
                <div class="timeline-start timeline-box" style="border: 2.5px solid rgba(255, 255, 255, 0.15);">
                    <span style="color: white;">Participate in Event 3</span>
                </div>
                <div class="timeline-middle">
                    <svg fill="white" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path></svg>
                </div>
                <hr></hr>
            </li>
            <li>
                <hr></hr>
                <div class="timeline-middle">
                    <svg fill="white" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path></svg>
                </div>
                <div class="timeline-end timeline-box" style="border: 2.5px solid rgba(255, 255, 255, 0.15);">
                    <span style="color: white;">Participate in Event 4</span>
                </div>
            </li>
        </ul>
    </div>
    {footer}
</body>