<head>
    <link rel="stylesheet" href="main.css"></link>
    <link rel="stylesheet" href="card.css"></link>
    {tailwind}
    {daisyui}
    {userAccount}
    {teamsScript}
    <meta id="Viewport" name="viewport" content="initial-scale=0.8, maximum-scale=0.8, minimum-scale=0.8, user-scalable=yes"></meta>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"></link>
</head>

<script>
    function getCookies() {
        var cookies=document.cookie.split(";");
        var cookiesDict={}
        for (var i in cookies) {
            var splitted_Cookie=cookies[i].split("=")
    cookiesDict[splitted_Cookie[0].trim()]=splitted_Cookie[1]
        }
        return cookiesDict
    }
    var username=getCookies()["username"]
    var isDesktop=Signal("isDesktop", window.innerHeight<window.innerWidth)
    var teams=Object.values(teams)
</script>


<body data-theme="luxury">
    {navbar}
    <div style="margin-top: 20px;"></div>
    <if isDesktop>
        <script>
            document.currentScript.parentElement.setAttribute("style", "padding-top: 70px;")
        </script>
    </if>
    <div class="wrapper">
        <div class="wrapper" style="padding: 20px;">
            <script>
                if (isDesktop.Value()) {
                    document.currentScript.parentElement.setAttribute("style", "border: 2.5px solid rgba(255, 255, 255, 0.15); padding: 70px; border-radius: 20px;")
                }
            </script>
            <div>
                <div class="badge badge-neutral">4th August 2024</div>
                <br></br>
                <span class="text-5xl font-bold metallic-text" style="color: #338EF7;">Aarav's Birthday</span>
                <br></br>
                <span class="text-4xl font-semibold text-white">An experience you will not forget!</span>
                <br></br>
                <span class="text-1xl text-white">&#x2022; 4 subevents</span>
                <span class="text-1xl text-white">&#x2022; LTZ Airdrop</span>
                <span class="text-1xl text-white">&#x2022; Real Wins</span>
                <span class="text-1xl text-white">&#x2022; Competitive</span>
                <br></br>
                <div class="wrapper" style="width: fit-content;">
                    <button class="btn metallic-button" style="width: 140px; color: black;">Leaderboard</button>
                    <div style="margin-left: 20px;"></div>
                    <button type="button" class="text-white btn focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center" style="background-color: #006FEE; width: 140px;" onclick="window.location='/tradex'">Open TradeX</button>
                </div>
            </div>
            <if isDesktop>
                <div style="margin-left: 220px;">
                    <img src="logo.svg" style="height: 250px;"></img>
                </div>
            </if>
        </div>
    </div>
    <div class="wrapper">
        <span class="text-5xl font-bold" style="color: white; margin: 40px; margin-bottom: 40px;">Timeline</span>
    </div>
    <div>
        <ul class="timeline timeline-vertical">
            <li>
                <div class="timeline-start timeline-box" style="border: 2.5px solid rgba(255, 255, 255, 0.15);">
                    <span style="color: #45D483;">Register Account</span>
                </div>
                <div class="timeline-middle">
                    <svg fill="#45D483" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path></svg>
                </div>
                <hr></hr>
            </li>
            <li>
                <hr></hr>
                <div class="timeline-middle">
                    <svg fill="white" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path></svg>
                </div>
                <div class="timeline-end timeline-box" style="border: 2.5px solid rgba(255, 255, 255, 0.15);">
                    <span style="color: white;">Create or Join Team</span>
                </div>
                <hr></hr>
            </li>
            <li>
                <hr></hr>
                <div class="timeline-start timeline-box" style="border: 2.5px solid rgba(255, 255, 255, 0.15);">
                    <span style="color: white;">Participate in Event 1</span>
                </div>
                <div class="timeline-middle">
                    <svg fill="white" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path></svg>
                </div>
                <hr></hr>
            </li>
            <li>
                <hr></hr>
                <div class="timeline-middle">
                    <svg fill="white" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path></svg>
                </div>
                <div class="timeline-end timeline-box" style="border: 2.5px solid rgba(255, 255, 255, 0.15);">
                    <span style="color: white;">Participate in Event 2</span>
                </div>
                <hr></hr>
            </li>
            <li>
                <hr></hr>
                <div class="timeline-start timeline-box" style="border: 2.5px solid rgba(255, 255, 255, 0.15);">
                    <span style="color: white;">Participate in Event 3</span>
                </div>
                <div class="timeline-middle">
                    <svg fill="white" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path></svg>
                </div>
                <hr></hr>
            </li>
            <li>
                <hr></hr>
                <div class="timeline-middle">
                    <svg fill="white" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"></path></svg>
                </div>
                <div class="timeline-end timeline-box" style="border: 2.5px solid rgba(255, 255, 255, 0.15);">
                    <span style="color: white;">Participate in Event 4</span>
                </div>
            </li>
        </ul>
    </div>
    <dialog id="teams_modal" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h3 class="text-4xl font-bold text-white vertical" style="margin-bottom: 20px;">Teams</h3>
            <for i and team in teams>
               {card}
            </for>
            <div class="modal-action">
                <button class="btn" style="background-color: #006FEE; color: white; margin-right: 10px;" onclick="teams_modal.close(); create_team_modal.showModal()">Create</button>
            <form method="dialog">
                <button class="btn">Close</button>
            </form>
            </div>
        </div>
    </dialog>
    <dialog id="create_team_modal" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h3 class="text-4xl font-bold text-white vertical" style="margin-bottom: 20px;">Create Team</h3>
            <div style="padding: 10px;">
                <input type="text" placeholder="Team Name" class="input input-bordered" style="width: 100%;" id="teamname"></input>
            </div>
            <script>
                function CreateTeam() {
                    teams_modal.close()
                    fetch("/create_team?name="+encodeURIComponent(document.getElementById("teamname").value)).then(()=>{
                        window.location=window.location
                    })
                }
            </script>
            <div class="modal-action">
                <button class="btn" style="background-color: #006FEE; color: white; margin-right: 10px;" onclick="CreateTeam()">Create Team</button>
                <button class="btn" onclick="create_team_modal.close(); teams_modal.showModal()">Back</button>
            </div>
        </div>
    </dialog>
    {footer}
</body>