<head>
    <link rel="stylesheet" href="main.css"></link>
    <link rel="stylesheet" href="card.css"></link>
    {tailwind}
    {daisyui}
    {userAccount}
    {teamsScript}
    {walletsScript}
    <meta id="Viewport" name="viewport" content="initial-scale=0.8, maximum-scale=0.8, minimum-scale=0.8, user-scalable=yes"></meta>
</head>

<script>
    if (userAccount["team"]==="") {
        window.location="/"
    }
    var tradex=true
    var accountType=Signal("accountType", "Team")
    var dropdownOpened=Signal("dropdownOpened", false)
    var userTeam={}
    teams.forEach((x)=>{
        if (x["id"]==userAccount["team"]) {
            userTeam=x
        }
    })
    var currentWallet=DerivedFrom("currentWallet", ()=>{
        if (accountType.Value()=="Team") {
            return userTeam["id"]
        } else {
            return userAccount["wallet"]
        }
    }, ["accountType"])
    var currentAssets=DerivedFrom("currentAssets", ()=>{
        return Object.entries(wallets.Value()[accountType.Value()])
    }, ["accountType", "wallets"])
    var assetA=Signal("assetA", "LTZ")
    var assetB=Signal("assetB", "A")
    var assetAAmount=Signal("assetAAmount", 0)
    DerivedFrom("assetBAmount", ()=>{
        var current_Prices=GetSignal("prices").Value()
        var APrice=current_Prices[assetA.Value()]
        if (assetA.Value()=="LTZ") {
            APrice=1
        }
        return (APrice/current_Prices[assetB.Value()])*assetAAmount.Value()
    }, ["assetAAmount", "prices", "assetA", "assetB"])
    var toChange=""
    function ChangeAsset(x) {
        x=x.id.split("_")[1]
        if (toChange=="A") {
            assetA.setValue(x)
        } else {
            assetB.setValue(x)
        }
    }
</script>

<script>
    var prices=Signal("prices", {});
    (async()=>{
        var res=await (await fetch("/prices")).json()
        prices.setValue(res)
        setInterval(async ()=>{
            var res=await (await fetch("/prices")).json()
            prices.setValue(res)
        }, 5000)
    })()
    async function Swap() {
        var res=await (await fetch("/buy?assetA="+assetA.Value()+"&assetB="+assetB.Value()+"&amount="+String(assetAAmount.Value()))).json()
        if (res.error) {
            alert(res.error)
        } else {
            window.location=window.location
        }
    }
    DerivedFrom("netBalance", ()=>{
        var balance=0
        var prices=GetSignal("prices").Value()
        currentAssets.Value().forEach((asset)=>{
            var ticker=asset[0]
            var amount=asset[1]["amount"]
            if (ticker=="LTZ") {
                balance+=amount
                return
            }
            balance+=prices[ticker]*amount
        })
        return balance
    }, ["prices"])
</script>


<body data-theme="luxury">
    {navbar}
    <div style="margin-top: 20px;"></div>
    <div class="wrapper">
        <details class="dropdown">
            <summary class="btn" onclick="dropdownOpened.setValue(!dropdownOpened.Value())" id="accountType_summary" style="width: 100%; gap: 4px; background: none; border: none;">
                <script>
                    (()=>{
                        var parentElement=document.currentScript.parentElement
                        OnChange("dropdownOpened", ()=>{
                            if (dropdownOpened.Value()) {
                                parentElement.classList.add("cool")
                            } else {
                                parentElement.classList.remove("cool")
                            }
                        })
                    })()
                </script>
                {accountType} Account
                <if "!dropdownOpened.Value()" dep:dropdownOpened>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"></path></svg>
                </if>
                <if dropdownOpened>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-up"><path d="m18 15-6-6-6 6"></path></svg>
                </if>
            </summary>
            <ul class="menu dropdown-content bg-base-100 rounded-box w-52 p-2 shadow" style="background-color: rgba(255, 255, 255, 0.1); transform: translateX(-50%); left: 50%; margin-top: 10px; z-index: 10;">
                <li><a onclick="document.getElementById('accountType_summary').click(); accountType.setValue('Team')">Team</a></li>
            </ul>
        </details>
    </div>
    <div class="wrapper" style="margin-top: 50px;">
        <div class="card-container" style="width: 400px;">
            <div id="card-top-container">
                <img src="logo.svg" style="height: 48px;"></img>
                <p style="font-size: 25px;">{netBalance} LTZ</p>
            </div>
        
            <div id="card-middle-container">
                <p class="labels">Address</p>
                <p id="card-address">{"currentWallet.Value().replaceAll('-', '').slice(0, 10)"}</p>
            </div>
        
            <div id="card-bottom-container">
                <div id="card-team-name-container">
                    <p class="labels">Name</p>
                    <p class="card-bottom-text">{"userTeam['name']"}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper" style="margin-top: 50px;">
        <div style="display: flex; justify-content: space-between; gap: 20px; width: 400px;">
            <button class="btn cool" style="color: white; height: auto; padding: 7px; border-radius: 12px;" onclick="send_modal.showModal()">
                <div>
                    <div class="wrapper">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#338EF7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send"><path d="m22 2-7 20-4-9-9-4Z"></path><path d="M22 2 11 13"></path></svg>
                    </div>
                    <div style="width: 60px; font-size: smaller; margin-top: 10px;" class="vertical">
                        Send
                    </div>
                </div>
                <script>
                    var button=document.currentScript.parentElement
                    button.style.height=button.offsetWidth+"px"
                </script>
            </button>
            <button class="btn cool" style="color: white; height: auto; padding: 7px; border-radius: 12px;" onclick="receive_modal.showModal()">
                <div>
                    <div class="wrapper">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#338EF7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M5 12h14"></path><path d="M12 5v14"></path></svg>
                    </div>
                    <div style="width: 60px; font-size: smaller; margin-top: 10px;" class="vertical">
                        Receive
                    </div>
                </div>
                <script>
                    var button=document.currentScript.parentElement
                    button.style.height=button.offsetWidth+"px"
                </script>
            </button>
            <button class="btn cool" style="color: white; height: auto; padding: 7px; border-radius: 12px;" onclick="swap_modal.showModal()">
                <div>
                    <div class="wrapper">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#338EF7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-right"><path d="M8 3 4 7l4 4"></path><path d="M4 7h16"></path><path d="m16 21 4-4-4-4"></path><path d="M20 17H4"></path></svg>
                    </div>
                    <div style="width: 60px; font-size: smaller; margin-top: 10px;" class="vertical">
                        Swap
                    </div>
                </div>
                <script>
                    var button=document.currentScript.parentElement
                    button.style.height=button.offsetWidth+"px"
                </script>
            </button>
            <button class="btn cool" style="color: white; height: auto; padding: 7px; border-radius: 12px;">
                <div>
                    <div class="wrapper">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#338EF7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dollar-sign"><line x1="12" x2="12" y1="2" y2="22"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                    </div>
                    <div style="width: 60px; font-size: smaller; margin-top: 10px;" class="vertical">
                        Buy
                    </div>
                </div>
                <script>
                    var button=document.currentScript.parentElement
                    button.style.height=button.offsetWidth+"px"
                </script>
            </button>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <signal prices>
            <for i and asset in currentAssets>
                <div class="wrapper" style="margin-bottom: 10px;">
                    <div class="cool" style="padding: 10px; border-radius: 10px; width: 400px;" id="basset_{}">
                        <script>
                            var ticker=asset[0]
                            var amount=Number(asset[1]["amount"]).toFixed(8).trim("0").replace(".00000000", "")
                            var price=prices.Value()[ticker]
                        </script>
                        <div class="wrapper" style="justify-content: space-between;">
                            <div style="margin-right: 8px;">
                                <img src="https://api.dicebear.com/9.x/initials/svg?seed={ticker}&backgroundType=gradientLinear" style="height: 50px; width: 50px; border-radius: 50%;"></img>
                            </div>
                            <div style="flex: 1;">
                                <div class="text-white">
                                    {ticker}
                                </div>
                                <div class="text-white">
                                    {amount}
                                </div>
                            </div>
                            <div>
                                {"price*amount"} LTZ
                            </div>
                        </div>
                    </div>
                </div>
            </for>
        </signal>
        <div class="wrapper">

        </div>
    </div>
    <dialog id="receive_modal" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h1 class="text-4xl font-bold text-white vertical">Address</h1>
            <p class="py-4 text-2xl font-semibol vertical">{currentWallet}</p>
            <div class="modal-action">
            <form method="dialog">
                <button class="btn" autofocus>Close</button>
            </form>
            </div>
        </div>
    </dialog>
    <dialog id="send_modal" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h1 class="text-4xl font-bold text-white vertical">Send Asset</h1>
            <p class="py-4 text-xl font-semibol vertical">Sending From {accountType} Account</p>
            <div class="modal-action">
            <form method="dialog">
                <button class="btn">Close</button>
            </form>
            </div>
        </div>
    </dialog>
    <dialog id="swap_modal" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h1 class="text-4xl font-bold text-white vertical">Swap Assets</h1>
            <div style="background-color: rgba(200, 200, 200, 0.15); border-radius: 12px; margin-top: 14px; border: none !important;" class="cool">
                <p style="padding: 5px; padding-left: 14px;">From</p>
                <div style="border: 1px solid rgba(200, 200, 200, 0.15); border-radius: 12px; background-color: #111; padding: 10px;" class="wrapper">
                    <div style="background-color: rgba(200, 200, 200, 0.15); border-radius: 12px; margin-top: 14px; border: none !important; padding: 10px; width: fit-content; cursor: pointer;" class="cool" onclick="toChange='A'; asset_Select.showModal()">
                        <div class="wrapper">
                            <img src="https://api.dicebear.com/9.x/initials/svg?seed={assetA}&backgroundType=gradientLinear" style="height: 40px; border-radius: 50%;"></img>
                            <h1 class="text-4xl text-white font-bold" style="margin-left: 10px; margin-right: 5px;">{assetA}</h1>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"></path></svg>
                        </div>
                    </div>
                    <div style="flex: 1;"></div>
                    <div>
                        <input type="number" class="input w-full max-w-xs price-input" style="background: none; text-align: right; font-size:xx-large;" placeholder="{assetAAmount}" oninput="assetAAmount.setValue(Number(event.target.value))"></input>
                    </div>
                </div>
            </div>

            <div style="background-color: rgba(200, 200, 200, 0.15); border-radius: 12px; margin-top: 14px; border: none !important;" class="cool">
                <p style="padding: 5px; padding-left: 14px;">To</p>
                <div style="border: 1px solid rgba(200, 200, 200, 0.15); border-radius: 12px; background-color: #111; padding: 10px;" class="wrapper">
                    <div style="background-color: rgba(200, 200, 200, 0.15); border-radius: 12px; margin-top: 14px; border: none !important; padding: 10px; width: fit-content; cursor: pointer;" class="cool" onclick="toChange='B'; asset_Select.showModal()">
                        <div class="wrapper">
                            <img src="https://api.dicebear.com/9.x/initials/svg?seed={assetB}&backgroundType=gradientLinear" style="height: 40px; border-radius: 50%;"></img>
                            <h1 class="text-4xl text-white font-bold" style="margin-left: 10px; margin-right: 5px;">{assetB}</h1>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"></path></svg>
                        </div>
                    </div>
                    <div style="flex: 1;"></div>
                    <div>
                        <input disabled class="input w-full max-w-xs price-input" style="background: none; text-align: right; font-size:xx-large;" value="~ {assetBAmount}"></input>
                    </div>
                </div>
            </div>
            <div class="modal-action">
            <form method="dialog">
                <button type="button" class="text-white btn focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center" style="background-color: #006FEE; width: 140px;" autofocus onclick="Swap()">Swap</button>
                <button class="btn">Close</button>
            </form>
            </div>
        </div>
    </dialog>
    <dialog id="asset_Select" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h1 class="text-4xl font-bold text-white vertical">Select Asset</h1>
            <script>
                var AllAssets=["LTZ", "A", "B", "C", "D", "E"]
            </script>
            <for _ and availableAsset in AllAssets style="display: flex; flex-wrap: wrap; justify-content: center; margin-bottom: 10px;">
                <div style="background-color: rgba(200, 200, 200, 0.15); border-radius: 12px; margin-top: 14px; border: none !important; padding: 10px; width: fit-content; cursor: pointer; flex: 0 0 auto; margin: 10px;" id="asset_{availableAsset}" onclick="ChangeAsset(this); asset_Select.close();" class="cool">
                    <div class="wrapper">
                        <img src="https://api.dicebear.com/9.x/initials/svg?seed={availableAsset}&backgroundType=gradientLinear" style="height: 40px; border-radius: 50%;"></img>
                        <h1 class="text-4xl text-white font-bold" style="margin-left: 10px; margin-right: 5px;">{availableAsset}</h1>
                    </div>
                </div>
            </for>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn" autofocus>Close</button>
                </form>
            </div>
        </div>
    </dialog>
</body>